html {
    background: #fff;
    color: #000;
    font-family: "Trebuchet MS", "Georgia", sans-serif;
}

body {
    margin: 0;
}

img {
    border: 0;
}

h1 {
    font-size: 2em;
    margin: 0 0 0.7em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.6em 0;
}

h3 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    color: #041a9b;
}

p {
    margin: 0 0 0.7em 0;
}

a:link {
    color: #041a9b;
}

a:visited {
    color: #041a9b;
}

a:hover {
    color: #809dc4;
}

a:active {
    color: #e59319;
}

code {
    font-family: monospace, sans-serif;
    font-size: 90%;
}

p code,
li code {
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 2px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border: thin solid #039;
    padding-top: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

td {
    border: thin solid #039;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

strong {
    font-weight: bold;
}

span.maintitle {
    font-weight: bold;
    font-size: 3em;
    margin-left: 1ex;
    line-height: 54pt;
}

.clear {
    clear: both;
}

#page-container {
    position: relative;
    display: inline-block;
    min-width: 100%;
}

#page-header {
    border-bottom: 2px solid #039;
    width: 100%;
}

#page-header span {
    vertical-align: bottom;
}

#page-header img {
    display: inline-block;
}

#page-header .xdmodlogo {
    height: 36pt;
    margin-top: 9pt;
    margin-bottom: 9pt;
}

#page-header .nsflogo {
    height: 54pt;
    margin: 5pt;;
}

#page-footer {
    border-top: 2px solid #039;
    text-align: center;
    width: 100%;
}

#page-footer img {
    margin: 10px;
}

#page-body {
    width: 1200px;
}

#page-menu {
    float: left;
    border: 2px solid #039;
    font-size: 80%;
    margin: 20px;
    padding: 10px;
    width: 200px;
}

#page-content {
    float: left;
    margin: 20px;
    width: 875px;
}

.non-commercial-notice {
    border: 2px solid #039;
    padding: 10px;
}

pre.highlight {
    background-color: #202020;
    overflow: auto;
    color: #e0e0e0;
    width: 850px;
    border-radius: 0.5ex;
    padding: 0.2em;
}

div.highlighter-rouge code {
    display: block;
    margin: 1em;
}

.note {
    color: red;
}

div.page-menu-toc {
    border-bottom: 2px solid #039;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.page-menu-toc h2 {
    margin: 0 0 0.3em 0;
}

.page-menu-toc ul {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    list-style-position: inside;
    display: block;
    line-height: 140%;
}

.page-menu-toc ul li {
    padding-left: 1ex;
}

.page-menu-toc li.active {
    background-color: #039;
}

.page-menu-toc li.active a {
    text-decoration: none;
    color: white;
}

/* Start hamburger style */

.hamb{
    cursor: pointer;
    float: left;   
    padding: 40px 30px;
}

.hamb-line {
    background: rgb(0, 51, 153);
    display: block;
    height: 4px;   
    position: relative;
    width: 48px;
 
}

.hamb-line::before,
.hamb-line::after{
    background: rgb(0, 51, 153);
    content: '';   
    display: block;
    height: 100%;  
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 10px;
}
.hamb-line::after{
    top: -10px;   
}

.side-menu {
    display: none;
}


/* end hamburger style */


.highlight pre {
    background-color: #202020;
}

.highlight .hll {
    background-color: #404040;
}

.highlight .c {
    color: #999;
    font-style: italic;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .esc {
    color: #d0d0d0;
}

.highlight .g {
    color: #d0d0d0;
}

.highlight .k {
    color: #6ab825;
    font-weight: bold;
}

.highlight .l {
    color: #d0d0d0;
}

.highlight .n {
    color: #d0d0d0;
}

.highlight .o {
    color: #d0d0d0;
}

.highlight .x {
    color: #d0d0d0;
}

.highlight .p {
    color: #d0d0d0;
}

.highlight .ch {
    color: #999;
    font-style: italic;
}

.highlight .cm {
    color: #999;
    font-style: italic;
}

.highlight .cp {
    color: #e15a5a;
    font-weight: bold;
}

.highlight .cpf {
    color: #999;
    font-style: italic;
}

.highlight .c1 {
    color: #999;
    font-style: italic;
}

.highlight .cs {
    color: #f75050;
    font-weight: bold;
    background-color: #520000;
}

.highlight .gd {
    color: #e75959;
}

.highlight .ge {
    color: #d0d0d0;
    font-style: italic;
}

.highlight .gr {
    color: #e75959;
}

.highlight .gh {
    color: #fff;
    font-weight: bold;
}

.highlight .gi {
    color: #589819;
}

.highlight .go {
    color: #ccc;
}

.highlight .gp {
    color: #aaa;
}

.highlight .gs {
    color: #d0d0d0;
    font-weight: bold;
}

.highlight .gu {
    color: #fff;
    text-decoration: underline;
}

.highlight .gt {
    color: #e75959;
}

.highlight .kc {
    color: #6ab825;
    font-weight: bold;
}

.highlight .kd {
    color: #6ab825;
    font-weight: bold;
}

.highlight .kn {
    color: #6ab825;
    font-weight: bold;
}

.highlight .kp {
    color: #6ab825;
}

.highlight .kr {
    color: #6ab825;
    font-weight: bold;
}

.highlight .kt {
    color: #6ab825;
    font-weight: bold;
}

.highlight .ld {
    color: #d0d0d0;
}

.highlight .m {
    color: #438dc4;
}

.highlight .s {
    color: #ed9d13;
}

.highlight .na {
    color: #bbb;
}

.highlight .nb {
    color: #2594a1;
}

.highlight .nc {
    color: #548bd3;
    text-decoration: underline;
}

.highlight .no {
    color: #40ffff;
}

.highlight .nd {
    color: #ffa500;
}

.highlight .ni {
    color: #d0d0d0;
}

.highlight .ne {
    color: #bbb;
}

.highlight .nf {
    color: #548bd3;
}

.highlight .nl {
    color: #d0d0d0;
}

.highlight .nn {
    color: #548bd3;
    text-decoration: underline;
}

.highlight .nx {
    color: #d0d0d0;
}

.highlight .py {
    color: #d0d0d0;
}

.highlight .nt {
    color: #6ab825;
    font-weight: bold;
}

.highlight .nv {
    color: #40ffff;
}

.highlight .ow {
    color: #6ab825;
    font-weight: bold;
}

.highlight .w {
    color: #878787;
}

.highlight .mb {
    color: #438dc4;
}

.highlight .mf {
    color: #438dc4;
}

.highlight .mh {
    color: #438dc4;
}

.highlight .mi {
    color: #438dc4;
}

.highlight .mo {
    color: #438dc4;
}

.highlight .sa {
    color: #ed9d13;
}

.highlight .sb {
    color: #ed9d13;
}

.highlight .sc {
    color: #ed9d13;
}

.highlight .dl {
    color: #ed9d13;
}

.highlight .sd {
    color: #ed9d13;
}

.highlight .s2 {
    color: #ed9d13;
}

.highlight .se {
    color: #ed9d13;
}

.highlight .sh {
    color: #ed9d13;
}

.highlight .si {
    color: #ed9d13;
}

.highlight .sx {
    color: #ffa500;
}

.highlight .sr {
    color: #ed9d13;
}

.highlight .s1 {
    color: #ed9d13;
}

.highlight .ss {
    color: #ed9d13;
}

.highlight .bp {
    color: #2594a1;
}

.highlight .fm {
    color: #548bd3;
}

.highlight .vc {
    color: #40ffff;
}

.highlight .vg {
    color: #40ffff;
}

.highlight .vi {
    color: #40ffff;
}

.highlight .vm {
    color: #40ffff;
}

.highlight .il {
    color: #438dc4;
}

/* for unsupported versions */
.not-supported-banner{
    background-color:#EF9A9A;
    position: relative;
    top: 0px;
    width: 100%;
}

/* Responsive */

@media screen and (max-width: 1040px){
    #page-content {
        width: 700px;
    }
}

@media only screen and (max-width: 850px) {

    .side-menu:checked ~ #page-menu{
        max-width: 100%;
    }

    .side-menu:checked ~ #page-content{
        z-index: -2;
        position: fixed;
    }

    .side-menu:checked ~ #page-footer{
        display: none; 
    }

    #page-container {
        width:100%;
    }
    
    #page-header{
        background-color: #fff;
        position: fixed;
        height: 140px;
        width: 100%;
        z-index: 2;
    }

    span.maintitle {
       position: absolute;
       right: 15px;
       top: 10px;
       text-align: right;
       line-height: 1.2;	
       font-size: 6vw;
    }

    #page-header img {
        position: relative;
	top: 50px;
    }

    .hamb-line {
        background: rgb(0, 51, 153);
        display: block;
        height: 4px;  
        position: absolute; 
        left: 15px;
        top: 100px;
        width: 35px; 
    }
    
    #page-content {
        margin: 0;
        width: 100%;
    }
    
    h1, #page-content h2, h3{
        margin-left: 15px;
    }
    
    p {
        margin: 0px 10px 30px 15px;
        font-size: 16px;
    }

    #page-menu {
        margin: 0px;
        padding: 0px;
        border-left: 0;
        border-top: 0;
    }

    #page-menu{
        width: 400px;
        height: 100vh;
        position: fixed;
        background-color: #e0e0e0;
        overflow: auto;
        top: 80px;
        left: 0px; 
        right: 0px;
        border-bottom: 0px;
        padding-bottom: 0px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.7), 20px 30px 20px 0 rgba(0, 0, 0, 0.10);
    }
    
    #page-menu{
        border: 0;
        margin-bottom: 0em;
        padding-bottom: 0px;
        max-width: 0px;
        transition: max-width .2s cubic-bezier(0.4, 0, 1, 1);
    }
    
     #page-menu h2{
        text-align: center;
        font-size: 2.6em;
        padding-top: 10px;
    }

    #page-menu li {
        text-align: center;
        list-style-type: none;
        font-size: 1.8em;
        padding: 8px
    }

    #page-menu li:hover {
        background-color: #ced5dd;
    }

    #page-menu a{
        text-decoration: none;
        display: block;
        line-height: 1.2
    }

    #page-menu li a:hover {
        color: #039;
    }

    #page-menu ul ul {
        background-color: #e7e7e7;
        font-size: 77%
    }

    div.page-menu-toc {
        border-bottom: 0px solid #039;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #page-body {
        width: 100%;
        margin-top:140px;
    }

     p img {
        display: inline-block;
        width: 100%;
     }

    table {
        margin: 15px;
    }

    code {
        font-size: 100%;
    }

   pre {
       margin-left: 15px;
    }
    
   pre.highlight {
        width: auto;
        padding: auto;
        margin: 15px 15px 15px 15px;
   }

   .language-plaintext.highlighter-rouge{
       word-wrap: break-word;
   }
 
}

@media only screen and (max-width: 610px){

    #page-header .xdmodlogo {
        height: 30pt;
    }

    #page-header .nsflogo {
        height: 50pt;
    }
}

@media only screen and (max-width: 545px){

    h1{
        font-size: 1.8em;
    }

    #page-header img {
        position: absolute;
        float: right;
        bottom: 1px;
     }

    #page-header {
        position: absolute;
        height: 130px;
    }
    
     span.maintitle {
        left: 0px;
        top: 0px;
        font-size: 4.7vw;
    }

    #page-header .xdmodlogo {
        left: 150px;
        height: 28pt;   
    }

    #page-header .nsflogo {
        left:65px;
    }

    .hamb {
        position:absolute;
        bottom: 1px;
        padding: 40px 30px;
    }

    #page-body {
        margin-top: 135px;
    }
    
    #page-menu{
        top:130px;
        position: absolute;
    }

}


@media (min-width: 851px) {
     .hamb-line {
         display: none;
     }
}
