<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Open XDMoD{% if page.title != 'Open XDMoD' %} - {{ page.title }}{% endif %}</title>
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.theme_subdir }}/assets/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.theme_subdir }}/assets/css/main.css" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44300156-3');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <a href="http://open.xdmod.org"><img src="{{ site.baseurl }}{{ site.theme_subdir }}/assets/images/xdmod_logo.png" alt="XDMoD" /></a>
      <span class="maintitle">{% if site.xdmod_module_name %}{{ site.xdmod_module_name }} Module{% endif %}</span>
    </div>
    <a href="{{ site.github_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div id="page-body">
      <div class="clear"></div>
      <div id="page-menu">
        {% if page.menu_markdown %}
            {% capture menu_markdown %}{% include {{page.menu_markdown}} %}{% endcapture %}
            {{ menu_markdown | markdownify }}
        {% endif %}
      </div>
      <div id="page-content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div class="clear"></div>
    </div>
    <div id="page-footer">
      <a href="https://www.buffalo.edu/ccr" target="_blank"><img src="{{ site.baseurl }}{{ site.theme_subdir }}/assets/images/ccr_logo.png" alt="Center for Computational Research"/></a>
    </div>
  </div>
</body>
</html>
